<ion-header>
  <ion-toolbar>
    <ion-title>
      Registration
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #registerForm="ngForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" name="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" name="confirmPassword"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Register</ion-button>
  </form>
</ion-content>
